@import 'variables';

@import 'hero';
@import 'navbar';
@import 'forms';
@import 'cards';
@import 'index';
@import 'show';
@import 'reviews';
@import 'footer';


//? Universal styles

html { height: 100% }

* {
  font-family: 'Anonymous Pro', monospace;
  color: $grey-dark;
  letter-spacing: 1px;
  text-decoration: none;
}

body {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

h1, h3 {
  margin: 5% 10%;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 5% 10%;
}

button {
  padding: 10px;
  margin: 0 5px;
  &:hover {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10%;
  }
}